body {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.Calculator {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px; 
}
#result {
    width: 95%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(223, 11, 11, 0.1) inset;
    background-color: #fff;
    
}
 

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    
}
 button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: inset 0 0 5px rgba(224, 14, 14, 0.1);
 }
    button:hover {
        background-color: #d0d0d0;
    }
    .clear {
        background-color: #ff6666;
        color: #fff;
    }
.operator {
        background-color: #6269c5;
        color: #fff;
    }


.equal {
        background-color: #4CAF50;
        color: #fff;
        grid-row: span 2;
        height: 150%;
    }
.number, .decimal {
        background-color: #e0e0e0;
        color: #000;
    }

